* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* LOGIN */
.login-body {
  height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fff;
  padding: 35px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.login-card h2 {
  margin-bottom: 10px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-card button {
  background: #1d2671;
  color: #fff;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  display: none;
}

.navbar {
  background: #1d2671;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  background: #c33764;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

/* HERO */
.hero {
  padding: 40px;
  background: linear-gradient(135deg, #c33764, #1d2671);
  color: white;
  text-align: center;
}

/* UPLOAD */
.upload-section {
  padding: 30px;
  background: #f9f9f9;
}

.upload-section input,
.upload-section select,
.upload-section textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.upload-section button {
  background: #1d2671;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

/* PRODUCT */
.product-list {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 60px;
  margin-bottom: 10px;
}

.product-card h4 {
  color: #1d2671;
}
